# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this app is hosted.
APP_URL="https://lexshub.xyz"

# APP_MODE: Set to "main" for the main app or "ai" for the AI app.
APP_MODE="main"
